/** {
    border: 1px solid blue;
}*/

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #FFEDDF;
}
html{
    width:100%;
}
#sori{
    display: none;
}
#conten{
    width: 100%;
}
@font-face {
    font-family: 'DomaineSansDisplay-ExtraboldItalic';
    src: url('../fonts/DomaineSansDisplay-ExtraboldItalic.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'DomaineSansFine-Extrabold';
    src: url('../fonts/DomaineSansFine-Extrabold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DomaineSansText-Light';
    src: url('../fonts/DomaineSansText-Light.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DomaineSansText-Regular';
    src: url('../fonts/DomaineSansText-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DomaineSansText-BlackItalic';
    src: url('../fonts/DomaineSansText-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DomaineSansText-Black';
    src: url('../fonts/DomaineSansText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DomaineSansText-Medium';
    src: url('../fonts/DomaineSansText-Medium.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



h1 {
    /*titoloni*/
    font-family: 'DomaineSansFine-Extrabold';
    font-size: 220px;
    padding-top: 20px;
    margin-left: -80px;
}

h2 {
    /*statement strappi*/
    font-size: 65px;
    /*margin-bottom: -50px;*/
    font-family: 'DomaineSansText-BlackItalic';
}

h3 {
    font-family: "DomaineSansText-Medium";
    font-size: 22px;
    text-align: center;
    padding-top: 50px;
}

h4 {
    /*sezioni frasi importanti*/
    font-family: "DomaineSansText-Medium";
    font-size: 36px;
    z-index: 10;
    text-align: center;
    padding-top: 65px;
}

p {
    /*paragrafi*/
    font-family: 'DomaineSansText-Light';
    font-size: 18px;
    z-index: 99;
    padding-top: 50px;
    z-index: 999;
}

strong {
    color: #EF4647;
    /*rosa scuro*/
}
a {
  color: #EF4647;
}
a:hover {
  color: #0E0F26 ;
}
.paddingcol {
    padding: 0 10% 0 10%;
    max-width: 630px;
    margin: auto;
}
#move {
    position: relative;

}

#mano1 {
    position: absolute;
    z-index: 2;
    max-width: 750px;
    top: 10px;
    mix-blend-mode: multiply;
    padding-left: 150px;
}

#mano2 {
    position: absolute;
    z-index: 3;
    max-width: 700px;
    padding-left: 150px;
    mix-blend-mode: multiply;
}

#mano3 {
    position: absolute;
    z-index: 4;
    max-width: 750px;
    right: 10%;
    mix-blend-mode: multiply;
    margin-top: -180px;
}

#mano4 {
    position: absolute;
    z-index: 4;
    max-width: 700px;
    right: 10%;
    mix-blend-mode: multiply;

}

#header {
    height: 130vh;
    background-color: #FFEDDF; /*rosa chiaro*/
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    font-family: 'DomaineSansText-BlackItalic';
    color: #0E0F26;/*blu navy*/
    margin: 0 !important;
}

#header h1,
#header h2 {
    width: 100%;
    margin: 0;

}


#header #scroll {
    position: relative;
    top: 250px;
    left: 0;
    opacity: 1;
   

}


#intro {
    height: 105vh;
    background-color: #FFEDDF; /*rosa chiaro*/
    background-repeat: no-repeat;
    color: #0E0F26; /*blu navy*/
    position: relative;
    z-index: 0;
   
}

#intro p {
    padding-top: 20x;
}

#statement {
    height: 40vh;
    /*position: relative;*/
    z-index: 2;
    /*background-color: #0E0F26; /*blu navy*/
    color: #FFEDDF;
    /*rosa scuro*/
    font-family: "DomaineSansText-Medium";
    text-align: center;
    background-color: #0E0F26;
    display: flex;
    align-items: center;
    width: 100%;
}

#statementobiezione {
    height: 40vh;
    /*position: relative;*/
    z-index: 2;
    /*background-color: #0E0F26; /*blu navy*/
    color: #FFEDDF;
    /*rosa scuro*/
    font-family: "DomaineSansText-Medium";
    text-align: center;
    background-color: #0E0F26;
    display: flex;
    align-items: center;
    width: 100%;
}

#statement strong {
    color: #F2AF25;
    /*giallo scuro*/
}

#strapposopra {
    position: relative;
    height: 110px;
    background-image: url("../images/strapposopra.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    background-color: #0E0F26;
    margin-top: 70px;
}

#strapposotto {
    position: relative;
    height: 180px;
    background-image: url("../images/strapposotto.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    top: -56px;
}

#mano2sez2 {
    position: absolute;
    z-index: 5;
    max-width: 600px;
    padding-left: 300px;
}


#strapposopra2 {
    height: 123px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    background-color: #0E0F26;
    background-image: url("../images/strapposopra.svg");
}

#statement2 {
    position: relative;
    height: 42vh;
    z-index: 2;
    color: #FFEDDF;
    /*rosa scuro*/
    font-family: "DomaineSansText-Medium";
    text-align: center;
    background-color: #0E0F26;
    display: flex;
    align-items: center;
    width: 100%;
}

#contestostorico {
    margin-top: -118px;
}

#fadein {
    position: relative;
}

.mano2sez2 {
    position: relative;
    left: -1300px;
}

img.mano2sez2 {
    position: relative;
    left: -1000px;
}

#parole {

    height: 96vh;
    background-color: #0E0F26;
    color: #FFEDDF;
    /*rosa chiaro*/
    /*padding-top: 50px;*/
}

#parole h4 {
    padding: 20px;
    text-align: center;
    color: #EF4647;
    /*rosa scuro*/
}

#strapposopra3 {
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    background-color: #FFEDDF;
    background-image: url("../images/strapposopraprof.svg");
}

#sezione3 h2 {
    padding-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

#manostatement3 {
    position: absolute;
    z-index: 4;
    max-width: 750px;
    margin-top: 400px;
    padding-left: 500px;
}

#graficoeuropa {
    position: relative;
    height: 55vh;
    align-items: center;
    padding-top: 80px;
    padding: 50px;
}

.fonti {
    font-size: 12px;
    margin-left: 50px;


}
#graficoeuropa .fonti{
    margin-left: 0px;
    margin-bottom: 10px;
}
#graficoobiezioni .fonti{
    margin-left: 0px;
    margin-top: -150px;
}
#graficoeu{
    max-width: 100%;
}



.manoeuropa {
    position: relative;
    left: 2000px;
}

#graficocalo {
    height: 73vh;
    align-items: center;
    padding-top: 100px;
    text-align: center;
}

#graficocalo img {
    width: 100%;
}

#indicator h2 {
    font-size: 26px;
    text-align: left;
    color: #EF4647;

}

#indicator h4 {
    font-size: 24px;
    text-align: left;
    padding-top: 0;
}


#copertura {
    width: 100vw;
    height: 550px;
    background-color: rgba(255, 237, 223, 1);
    position: relative;
    top: -800px;
   /* margin-bottom: -463px;*/
    left: 0px;
    
}
#copert{
    height: 80vh;
}
#commentotesto{
    margin-top: -100px;
}
 #calo h4 {
    margin-top: -50px;

}
#indicator {
    position: relative;
    left: 0;
    width: 200px;
}

#manostatement4 {
    position: absolute;
    z-index: 5;
    max-width: 750px;
    left: 20%;
}

#obiezione h4 {
    padding-top: 0px;
}

#obiezione p {
    padding-top: 60px;
}

#perche1 {
    height: 27vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    background-color: #0E0F26;
    background-image: url("../images/perche1.svg");
}

#perche2 {
    position: relative;
    height: 172px;
    background-image: url("../images/perche2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    background-color: #0E0F26;
    /*rosa scuro*/
}

#xk {
    position: relative;
}

#statement4 {
    height: 30vh;
    z-index: 2;
    color: #FFEDDF;
    font-family: "DomaineSansText-Medium";
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #0E0F26;
}

#manostat4 {
    position: absolute;
    z-index: 5;
    max-width: 750px;
    left: 20%;
}

#manostorie3 {
    position: absolute;
    z-index: 4;
    max-width: 750px;
    right: 10%;

}

#manoemilia {
    position: absolute;
    z-index: 4;
    max-width: 750px;
    right: 10%;
    mix-blend-mode: multiply;
}

#manoemilia2 {
    position: absolute;
    z-index: 4;
    max-width: 750px;
    right: 10%;
    mix-blend-mode: multiply;
}

#manotante {
    position: absolute;
    z-index: 4;
    max-width: 750px;
    right: 10%;
    mix-blend-mode: multiply;
}

#manou {
    position: absolute;
    z-index: 3;
    max-width: 400px;
    mix-blend-mode: multiply;
}

#manoqu2 {
    position: relative;
    z-index: 4;
    max-width: 400px;
    right: 10%;
    mix-blend-mode: multiply;
}

#txt3 {
    position: relative;
}

#test {
    position: relative;
}

#entry {
    position: relative;
}

#regioni {
    margin-bottom: 60px;
    padding-top: 60px;
}

#migrob {
    margin-left: 116px;
}

#regioni2 h4 {
    padding-top: 0px;
}

#graficoobiezioni {
    height: 90vh;
    align-items: center;
}

#graficoobiezioni p {
    padding-top: 100px;
}

#graficoobiezioni h4 {
  color: #0E0F26;
}

#storie1 {
    height: 44vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    background-color: #0E0F26;
    background-image: url("../images/tipo1.svg");
}

#storie2 {
    position: relative;
    height: 172px;
    background-image: url("../images/tipo2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    background-color: #0E0F26;
}

#storiestat {
    height: 30vh;
    z-index: 2;
    color: #FFEDDF;
    /*rosa chiaro*/
    font-family: "DomaineSansText-Medium";
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #0E0F26;
}

#testimonianzeemila h3 {
    font-size: 22px;
    text-align: left;
}

#manoemilia {
    left: 10%;
    mix-blend-mode: multiply;
}

#manoemilia2 {
    mix-blend-mode: multiply;
}

#manoeq1 {
    position: absolute;
    top: 50px;
    z-index: 3;
    max-width: 650px;
        left: -200px;
    mix-blend-mode: multiply;
}

#manoeq2 {
    position: absolute;
    top: 50px;
    z-index: 3;
    max-width: 700px;
    left: 500px;
    mix-blend-mode: multiply;
}


#equilibrio{
    position: relative;
    padding: 0% 0% 20% 20%;
}
#equilibrio #text{
    position: absolute;
    top: 0; 

}
#paragrafotante {
    padding-top: 70px;
}

#tante1 {
    height: 27vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    background-color: #0E0F26;
    /*rosa scuro*/
    background-image: url("../images/perche1.svg");
}

#tante2 {
    position: relative;
    height: 172px;
    background-image: url("../images/perche2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    background-color: #0E0F26;
    /*rosa scuro*/
}

#tantestat {
    height: 30vh;
    z-index: 2;
    color: #FFEDDF;
    font-family: "DomaineSansText-Medium";
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #0E0F26;
    /*rosa scuro*/
}



#dignita1 {
    height: 41vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    background-color: #0E0F26;
    /*rosa scuro*/
    background-image: url("../images/tipo1.svg");
    z-index: 20;
    margin-top: 400px;
}

#dignitastat {
    height: 140vh;
    z-index: 2;
    color: #FFEDDF;
    font-family: "DomaineSansText-Medium";
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #0E0F26FF;
    /*rosa scuro*/
}

.make_rosa {
    background-color: #FFEDDF;
    color: #0E0F26;
}

#reveal-elements {
       padding: 0 0% 0 10%;
}

/*.move {
    position: relative;
}
*/

#magic-footer {
    width: 100%;
    background-color: #FFEDDF;
    padding: 60px 20px 60px 20px;
    border-top: 1px solid #ffd320;
}

#magic-footer h4 {
    max-width: 800px;
    margin: auto;
    color: #ffd320;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
}

#magic-footer a {
    color: #ffd320;
    font-size: 16px;
}

#magic-footer a:hover {
    color: white;
}
#slidertest h4{
    font-size: 26px;
   padding:0 50px 0;
}

