#graficoobiezioni h4{
    padding-top: 50px;
    margin: -50px auto;
    color: #EF4747;
    width: 100%;
 
}
.nome, .obiettori, .label, .esodo, .esodo-label{
  font-family: 'DomaineSansText-Medium';
}

.nome{
  font-size: 18px;
}
.label, .esodo-label{
 font-size: 12px;
}
.esodo-label{
text-anchor: baseline;
}
ul {
    list-style-type: none;
    /*margin: auto;*/
    padding: 100px;
    /*padding-left: 200px;*/
  }

  ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 60px;
  }

  #Legenda .obiettori{
    border: 1px solid;
    border-color: #F8AB97;
    background-color: #FFEDDF;
  }

  #Legenda .regione{
    border: 1px solid;
    border-color: #F8AB97;
    background-color: #FFEDDF;
  }

#Legenda .label{
  color:   #EF4647;
  font-size: 10px;
}
#Legenda .esodo-label{
  color:  #0E0F26;
  margin-top: -75px;
  z-index: 1;
   font-size: 10px;
}

  .modulo {
    width: 150px;
    height: 150px;
  }

  .regione {
    width: 150px;
    height: 150px;
    padding: 0;
    background-color: #F58D79;
  }
  .obiettori {
    margin: 0;
    width: 100%;
    transform-origin: bottom;
    height: 60%;
    background-color: #F8AB97;
  }

  .nome {
    font-size: 10px;
    color: #0E0F26;
    transform: rotateZ(-90deg);
    width: 200px;
    position: relative;
    top: 107px;
    left: -110px;
    text-align: right;
  }

  .label {
    text-align: center;
    color: #FFEDDF;
  }

  .esodo {
    width: 100%;
    background-image: linear-gradient(45deg, #0e0f26 12.50%, #ffeddf00 12.50%, #ffeddf00 50%, #0e0f26 50%, #0e0f26 62.50%, #ffeddf00 62.50%, #ffeddf00 100%);
    background-size: 5.66px 5.66px;
  }

  .esodo-label {
    color: #0E0F26;
    width: 100%;
    text-align: center;
    vertical-align: baseline;
    }
  #Legenda .obiettori {
    height: 30%
  }

  #Legenda .esodo {
    position: relative;
    height: 30%;
    top: -30%;
  }

  #veneto .obiettori {
    height: 29.9%
  }

  #veneto .esodo {
    position: absolute;
    height: 0.8%;
    /*top: -0.8%;*/
    max-width: 150px;
  }
#veneto .esodo-label{
  margin-top: 0px;
}
  #ValledAosta .obiettori {
    height: 82.4%;
  }
#ValledAosta .esodo-label{
   margin-top: -16px;
}
  #ValledAosta .esodo,
  #ValledAosta .esodo-label {
    position: relative;
    height: 9.8%;
    /*top: -9.8%;*/
  }
  #Toscana .obiettori {
    height: 39.9%
  }

  #Toscana .esodo {
    position: relative;
    height: 9.6%;
    top: -9.6%;
  }
    #Toscana .esodo-label {
        margin-top: -31px;
  }
   #Abruzzo .obiettori {
    height: 14.8%
  }

  #Abruzzo .esodo {
    position: relative;
    height: 0.7%;
    /*top: -9.6%;*/
  }
  #Abruzzo .esodo-label{
    margin-top: 0px;
  }
  #Basilicata .obiettori {
    height: 11.9%
  }

  #Basilicata .esodo {
    position: relative;
    height: 20.2%;
    top: - 20.2%;
  }
    #Basilicata .esodo-label{
    margin-top: -29px;
  }
    #Piemonte .obiettori {
    height: 35.8%
  }

  #Piemonte .esodo {
    position: relative;
    height: 4.8%;
    top: -4.8%;
  }
      #Piemonte .esodo-label{

    margin-top: -24px;
  }
  #Calabria .obiettori {
    height: 30.5%
  }

  #Calabria .esodo {
    position: relative;
    height: 6.8%;
    /*top: -6.8%;*/
  }
  #Calabria .esodo-label{
    margin-top: -9px;
  }
  #Molise .obiettori {
    height: 3.1%
  }

  #Molise .esodo {
    position: relative;
    height: 14.1%;
    /*top: -6.8%;*/
  }
  #Molise .esodo-label{
        margin-top: -19px;
  }
  #Umbria .obiettori {
    height: 26.7%
  }

  #Umbria .esodo {
    position: relative;
    height: 9.7%;
    top: -9.7%;
  }
  #Umbria .esodo-label{
    margin-top: -31px;
  }
  #Lazio .obiettori {
    height: 21.3%
  }

  #Lazio .esodo {
    position: relative;
    height: 2.2%;
    top: -2.2%;
  }
  #Lazio .esodo-label{
     margin-top: -21px;
  }
  
  #Liguria .obiettori {
    height: 36.5%
  }

  #Liguria .esodo {
    position: relative;
    height: 2.5%;
    top: -2.5%;
  }
    #Liguria .esodo-label{
     margin-top: -21px;
  }
  
    #Lombardia .obiettori {
    height: 28.9%
  }

  #Lombardia .esodo {
    position: relative;
    height: 6.8%;
    top: -6.8%;
  }
      #Lombardia .esodo-label{
     margin-top: -27px;
  }
      #Trento .obiettori {
    height: 28.4%
  }

  #Trento .esodo {
    position: relative;
    height: 6.3%;
    top: -6.3%;
  }
        #Trento .esodo-label{
     margin-top: -27px;
  }
  #Marche .obiettori {
    height: 28.4%
  }

  #Marche .esodo {
    position: relative;
    height: 6.3%;
    top: -6.3%;
  }
  #Marche .esodo-label{
    margin-top: -26px
  }
   #Sicilia .obiettori {
    height: 15.4%
  }

  #Sicilia .esodo {
    position: relative;
    height: 0.6%;
    /*top: -6.3%;*/
  }
  
  #EmiliaRomagna .obiettori {
    height: 51.8%
  }

  #EmiliaRomagna .esodo {
    position: relative;
    height: 10%;
    top: -10%;
  }
    #EmiliaRomagna .esodo-label{
    margin-top: -31px;
  }
  
  #Friuli .obiettori {
    height: 49.1%
  }

  #Friuli .esodo {
    position: relative;
    height: 8.7%;
    top: -8.7%;
  }
      #Friuli .esodo-label{
    margin-top: -30.5px;
  }
  
    #Campania .obiettori {
    height: 18.2%
  }

  #Campania .esodo {
    position: relative;
    height: 0.5%;
    /*top: -8.7%;*/
  }
    #Puglia .obiettori {
    height: 13.9%
  }
#Puglia .esodo-label{
  margin-top: -20px;
}
  #Puglia .esodo {
    position: relative;
    height: 1.4%;
    top: -1.4%;
  }
      #Sardegna .obiettori {
    height: 43.9%
  }

  #Sardegna .esodo {
    position: relative;
    height: 5%;
    top: -5%;
  }
  #Sardegna .esodo-label{
    margin-top: -24px;
  }
    .digit {
    opacity: 0;
    -webkit-transform: translateX(-40px);
       -moz-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
         -o-transform: translateX(-40px);
            transform: translateX(-40px);
    -webkit-transition: all 0.6s ease-out;
       -moz-transition: all 0.6s ease-out;
        -ms-transition: all 0.6s ease-out;
         -o-transition: all 0.6s ease-out;
            transition: all 0.6s ease-out;
  }
  .digit.visible {
    opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }