@media screen and (max-width: 600px) {

#conten{
display: none;
}

#sori{
	height: 70vh;
	max-width: 600px;
	background-color: white;
	display: inline;
	
}
#sori p{
	padding-left: 10%;
	font-size: 30px;
 	text-align: center;
 	font-family: "DomaineSansText-Medium";
}

/*h1{
	font-size: 100px;
	padding: 0 50% 0 40%;
}
h2{
	font-size: 33px;
	padding: 0 50% 0 40%;
}
#mano1 {
       position: absolute;
    z-index: 2;
    max-width: 300px;
    mix-blend-mode: multiply;
    left: -100px;
}

#mano2 {
   position: absolute;
    z-index: 3;
        max-width: 280px;
    mix-blend-mode: multiply;
    left: -95px;
}

#mano3 {
       position: absolute;
    z-index: 4;
    max-width: 300px;
    mix-blend-mode: multiply;
    left: 300px;
        padding-top: 186px;
}

#mano4 {
    position: absolute;
    z-index: 4;
        max-width: 280px;
    mix-blend-mode: multiply;
    left: 300px;
}

#header{
	height: 70vh;
}*/
}